/*
SPDX-FileCopyrightText: Copyright 2017-2026, Douglas Myers-Turnbull
SPDX-PackageHomePage: https://dmyersturnbull.github.io
SPDX-License-Identifier: CC-BY-SA-4.0
*/

a {
  text-decoration: none !important;
}
a :hover {
  text-decoration: underline !important;
}

.experimental {
  color: #c07050;
  font-style: italic;
  font-size: small;
  padding-left: 0.5rem;
}

/*
 * Click to copy
 */
@keyframes copyAnimation {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: lightgreen;
  }
}
.copy-animation {
  animation: copyAnimation 0.5s ease;
}
